<div class="col s12 xl6">
    <div class="card z-depth-3">
        <div class="card-content">
            <div class="group">
                <h6 class="group-name"></h6>
            </div>
            <table class="striped">

                <thead>
                <tr>
                    <th>Team</th>
                    <th class="center">PG</th>
                    <th class="center">WN</th>
                    <th class="center">DR</th>
                    <th class="center">LT</th>
                    <th class="center hide-">GF</th>
                    <th class="center hide-">GA</th>
                    <th class="center hide-">GD</th>
                    <th class="center">PT</th>
                </tr>
                </thead>

                <tbody></tbody>

            </table>
        </div>

        <div class="card-action">
            <div class="row">
                <div class="btn col s4" type="HOME">Home</div>
                <div class="btn col s4" type="TOTAL">Total</div>
                <div class="btn col s4" type="AWAY">Away</div>
            </div>
        </div>
    </div>
</div>
