<div class="navbar-fixed">
    <nav class="purple darken-4" role="navigation">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo center hide-on-med-and-up" id="logo-container">UEFA</a>
            <a href="#" class="brand-logo left hide-on-small-and-down" id="">UEFA</a>

            <a href="#" class="sidenav-trigger hide-on-med-and-up" data-target="nav-mobile">
                <i class="material-icons large">menu</i>
            </a>

            <div class="hide-on-small-and-down right">
                <ul class="center">
                    <li class="">
                        <a class="nav-page" href="#LeagueStandings">League Standings</a>
                    </li>

                    <li class="">
                        <a class="nav-page" href="#AllTeams">All Teams</a>
                    </li>

                    <li class="">
                        <a class="nav-page" href="#MyFavorite">Favorite Teams</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


<ul class="row sidenav" id="nav-mobile">
    <li class="">
        <img class="img-logo responsive-img" src="#" alt="logo">
    </li>
    <li class="col s12 m12 l12 xl12 black-text">
        <a class="nav-page" href="#LeagueStandings"><i class="material-icons">line_weight</i>League Standings</a>
    </li>

    <li class="col s12 m12 l12 xl12 black-text">
        <a class="nav-page" href="#AllTeams"><i class="material-icons">group_work</i>All Teams</a>
    </li>

    <li class="col s12 m12 l12 xl12 black-text">
        <a class="nav-page" href="#MyFavorite"><i class="material-icons">favorite</i>Favorite Teams</a>
    </li>
</ul>
