<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>

<div class="navigation"></div>
<main>
    <!--MODAL -->
    <div class="modal" style="border-radius: 20px">
        <div class="row">
            <div class="modal-content col s12">
                <div class="center"><h5 class="modal_header" style="text-transform: capitalize; padding: 2%">title</h5></div>
                <div class="divider"></div>
                <div class=""><p class="modal_message center"></p></div>
            </div>
            <div class="col s12">
                <div class="modal-footer">
                    <button class="cancel modal-close btn col s6">Cancel</button>
                    <button class="ok modal-close btn col s6">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container hide-on-small-and-down">
        <div class="parallax"><img class="banner" src="#" alt=""></div>
    </div>
    <div class="content">
        <div class="progress" style="position: fixed; bottom: 0; margin-bottom: 0;height: 1%">
            <div class="indeterminate purple darken-4"></div>
        </div>
    </div>
</main>
</body>
</html>
