<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
<div class="navbar-fixed">
    <nav class="purple darken-4" role="navigation">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo center" id="logo-container">INFO</a>
            <a href="/" class="sidenav-trigger show-on-large" data-target="nav-mobile">
                <i class="material-icons large">home</i>
            </a>

            <div class="right">
                <div class="nav-preloader" style="margin: auto 20px; padding-top: 15%;">
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-blue">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>

                        <div class="spinner-layer spinner-red">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>

                        <div class="spinner-layer spinner-yellow">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>

                        <div class="spinner-layer spinner-green">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<main >
    <!--MODAL -->
    <div class="modal" style="border-radius: 20px">
        <div class="row">
            <div class="modal-content col s12">
                <div class="center"><h5 class="modal_header" style="text-transform: capitalize; padding: 2%">title</h5></div>
                <div class="divider"></div>
                <div class=""><p class="modal_message center"></p></div>
            </div>
            <div class="col s12">
                <div class="modal-footer">
                    <button class="cancel modal-close btn col s6">Cancel</button>
                    <button class="ok modal-close btn col s6">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="team-info">
        <div class="progress" style="position: fixed; bottom: 0; margin-bottom: 0;height: 1%">
            <div class="indeterminate purple darken-4"></div>
        </div>
    </div>
</main>
</body>
</html>
