<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>

<div class="navbar-fixed">
    <nav class="purple darken-4 nav-wrapper">
        <a href="#" class="brand-logo center team-name" id="logo-container">info</a>
        <a href="./" class="show-on-large">
            <i class="material-icons large" style="margin-left: 10%">home</i>
        </a>
    </nav>
</div>

<main class="team-info">

</main>
</body>
</html>
