<div class="team-info-content row">
    <div class="team-profile col s12">
        <img class="team-info-icon col s12 m4 l3 img-logo-size" src="#" alt="" style="padding: 25px;">
        <table class="col s12 m8 l9 striped">
            <tbody>
            <tr>
                <td>Name</td>
                <td class="name-team"></td>
            </tr>
            <tr>
                <td>Short Name</td>
                <td class="shortName-team"></td>
            </tr>
            <tr>
                <td>Founded</td>
                <td class="founded-team"></td>
            </tr>
            <tr>
                <td>Venue</td>
                <td class="venue-team"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td class="address-team"></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="row" style="margin-bottom: 55px">
        <div class="col s12">
            <ul class="collapsible">
                <li class="rolePlayer">
                    <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Player</div>
                    <div class="collapsible-body">
                        <ul class="collapsible">
                            <li class="">
                                <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Goalkeeper
                                </div>
                                <div class="collapsible-body positionGoalkeeper"></div>
                            </li>
                            <li class="">
                                <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Defender
                                </div>
                                <div class="collapsible-body positionDefender"></div>
                            </li>
                            <li class="">
                                <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Midfielder
                                </div>
                                <div class="collapsible-body positionMidfielder"></div>
                            </li>
                            <li class="">
                                <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Attacker
                                </div>
                                <div class="collapsible-body positionAttacker"></div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="rolePlayer">
                    <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Coach</div>
                    <div class="collapsible-body COACH"></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Active Competitions</div>
                    <div class="collapsible-body activeCompetitions">
                        <div class="row center"></div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Matches</div>
                    <div class="collapsible-body">
                        <div class="row center">
                            <div class="col s4">Home</div>
                            <div class="col s4"></div>
                            <div class="col s4">Away</div>
                        </div>
                        <div class="matches"></div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Scheduled</div>
                    <div class="collapsible-body scheduled"></div>
                </li>
            </ul>
        </div>
    </div>

    <div class="btnFloatingAddRemove btn-floating fixed-action-btn btn-large purple darken-4"
         style="left: 0; right: 0; margin: auto">
        <i class="material-icons">add</i>
    </div>
</div>
