<table class="striped centered">
    <thead>
    <tr>
        <th class="center" colspan="6"><h6 class="name"></h6></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Date Of Birth</td>
        <td class="dateOfBirth"></td>
    </tr>

    <tr>
        <td>Country Of Birth</td>
        <td class="countryOfBirth"></td>
    </tr>

    <tr>
        <td>Nationality</td>
        <td class="nationality"></td>
    </tr>

    <tr>
        <td>Shirt Number</td>
        <td class="shirtNumber"></td>
    </tr>
    </tbody>
</table>
